{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
    <main>
        {% block content %}
            <a href="{% url 'welcome:index' %}">Go Back</a>
	    <h1> Welcome user {{full_name}} -- {{email}}</h1>
            <h2>Your Teams:</h2>
            {% for member_team in member_teams %}
                <a href="{% url 'dashboard:dashboard' member_team.name %}">{{ member_team.name }}</a>
                <br>
            {% endfor %}
            </form>
            {% if messages %}
                <hr>
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                <hr>
            {% endif %}
	    <hr>
            <h2>Use the cool search feature and select other team to be part of:</h2>
            <div id="dropdown" class="dropdown">
                <input type="text" placeholder="Search.." id="search_pattern">
                <div id="myDropdown" class="dropdown-content">
                </div>
            </div>
            <br>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                Create a new team:
                <p>
                Name: <input type="text" name="team_name">
                <button type="submit" formaction="{% url 'teamsapp:create_team' %}"> Create </button>
            </form>
            <hr>
        {% endblock %}
    </main>
    {% block javascript %}
        <script>
            $("#search_pattern").keyup(function () {
                var search_pattern = $(this).val();
                if (search_pattern != ''){
                    $.ajax({
                        url: '{% url "search:search_teams" %}',
                        data: {
                            'search_pattern': search_pattern,
                            },
                        dataType: 'json',
                        success: function (data) {
                            var i, html;
                            html = ''
                            console.log(data);
                            for (i=0; i < data['teams'].length; i++){
                                html += '<a href="/teams/app/update_member_teams/' + data['teams'][i].team_name + '">' 
					    + data['teams'][i].team_name + '</a>';
                            }
                            $("#myDropdown").html(html);
                            $(document).bind("click", clickFunction);
                        }
                    });
                }
            });

            function clickFunction(event) {
                if(!$(event.target).closest('#dropdown').length) {
                    var a, i;
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                        a[i].style.display = "none";
                    }
                    $(document).unbind("click");
                }
            };

        </script>
    {% endblock %}
</body>
</html>
