<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>The Teams App</h1>
    {% if messages %}
    	<hr>
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	<hr>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        Login:
        <p>
        Email: <input type="text" name="email">
	Password: <input type="password" name="password">
        <button type="submit"> Login  </button>
    </form>
    Or create a new User:
    <a href="http://104.155.231.4:5000/" 
	    target="popup"
	    onclick="window.open('http://104.155.231.4:5000/create_user', 'popup', 'width=600, height=600'); 
	    return false;">
	    Create new user
    </a>
</body>
</html>

