<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <h1>Board: {{board.name}}</h1>
    <hr>
    <h1>Columns</h1>
    {% for column in columns %}
        <div>
		<h2 name="column_name2" value="{{column.name}}">{{column.name}}</h2>
		<div>
			{% for task in column.task_set.all %}
				<h4>Task: {{task.title}}</h4>
				<h5>--- {{task.description}}</h5>
			{% endfor %}
	        </div>
		<hr>
		    <form action="" method="post">
			<input type="hidden" name="column_name" id="" value="{{column.name}}">
			{% csrf_token %}
			Create a new task:
			<p>
			Tittle: <input type="text" name="title">
			Description: <input type="text" name="description">
			<button type="submit"> Create </button>
	            </form>	
		<hr>
	</div>
    {% endfor %}
</body>
</html>
