<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Board</title>
</head>
<body>
	<h1>Team: {{team.name}}</h1>
	<hr>
	<h1>Board: {{board.name}}</h1>
	<hr>
	<form action="" method="post">
		{% csrf_token %}
		<h4>Delete Board:  </h4>
		<button type="submit" formaction="{% url 'dashboard:delete_board' team.name board.name %}"> Delete </button>
	</form>
	<hr>
	<h1>Columns</h1>
	{% if message %}
		<hr>
		{{message}}
		<hr>
	{% endif %}
	<div style="height:100%; width:100%; overflow: hidden;">
		{% for column in columns %}
			<div style="border:10px solid black; float:left; background-color:blue; height:80%; width:25%;">
			<h2 name="column_name" id="" value="{{column.name}}">{{column.name}}</h2>
			{% for task in column.task_set.all %}
				<div style="position: relative; left:10px; border:10px solid black;
				background-color:green; height:80%; width:80%; " >
				<form action="" method="post">
					<input type="hidden" name="column_name" value="{{column.name}}">
					<input type="hidden" name="task_title" value="{{task.title}}">
					{% csrf_token %}
					<h4>Task: {{task.title}}</h4>
					<h5>--- {{task.description}}</h5>
                                        <button type="submit" formaction="{% url 'dashboard:delete_task' team.name board.name %}">
						&lt;&lt;&lt;  Move Left </button>
                                        <button type="submit" formaction="{% url 'dashboard:delete_task' team.name board.name %}">
                                                Move Right &gt;&gt;&gt; </button>
					<button type="submit" formaction="{% url 'dashboard:delete_task' team.name board.name %}">
						Delete </button>
				</form>
				</div>
			{% endfor %}
			<hr>
			<form action="" method="post">
				<input type="hidden" name="column_name" value="{{column.name}}">
				{% csrf_token %}
				Create a new task:
				<p>
				Tittle: <input type="text" name="title">
				Description: <input type="text" name="description">
				<button type="submit" formaction="{% url 'dashboard:create_task' team.name board.name %}">
					Create </button>
			</form>
			<hr>
			<form action="" method="post">
				<input type="hidden" name="column_name" value="{{column.name}}">
				{% csrf_token %}
				<h4>Delete column: </h4>
				<button type="submit" formaction="{% url 'dashboard:delete_column' team.name board.name %}">
					Delete </button>
			</form>
			</div>
		{% endfor %}
	</div>
	<hr>
	<form action="" method="post">
		<input type="hidden" name="board_name" id="" value="{{board.name}}">
		{% csrf_token %}
		Create a new column:
		<p>
		Name: <input type="text" name="new_column_name">
		<button type="submit" formaction="{% url 'dashboard:create_column' team.name board.name %}"> Create </button>
	</form>
	<hr>
</body>
</html>
