<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <h1>Board: {{board.name}}</h1>
    <hr>
    <h1>Columns</h1>
    <div style="height:100%; width:100%; overflow: hidden;">
    {% for column in columns %}
        <div style="border:10px solid black; float:left; background-color:blue; height:80%; width:25%;">
		<h2 name="column_name2" value="{{column.name}}">{{column.name}}</h2>
			{% for task in column.task_set.all %}
			<div style="position: relative; left:10px; border:10px solid black; background-color:green; height:80%; width:80%; " >
				<h4>Task: {{task.title}}</h4>
				<h5>--- {{task.description}}</h5>
			</div>
			{% endfor %}
		<hr>
		    <form action="" method="post">
			<input type="hidden" name="column_name" id="" value="{{column.name}}">
			{% csrf_token %}
			Create a new task:
			<p>
			Tittle: <input type="text" name="title">
			Description: <input type="text" name="description">
			<button type="submit"> Create </button>
	            </form>	
		<hr>
	</div>
    {% endfor %}
    </div>
                <hr>
                    <form action="" method="post">
		        <input type="hidden" name="board_name" id="" value="{{board.name}}">
                        {% csrf_token %}
                        Create a new column:
                        <p>
                        Name: <input type="text" name="name">
			Index: <input type="text" name="index">
                        <button type="submit"> Create </button>
                    </form>
                <hr>
</body>
</html>
