<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Team: {{team.name}}</h1>
    <hr>
    <h1>Boards</h1>
    <hr>
    {% if message %}
        {{message}}
    {% endif %}
    <hr>
    <form action="" method="post">
        {% for board in boards %}
            {% csrf_token %}
	    <a href="{% url 'dashboard:board' team.name board.name %}">{{ board.name }}</a>
	    <br> 
        {% endfor %}
    </form>
    <hr>
    <form action="" method="post">
    	{% csrf_token %}
    	Create a new board:
        <p>
        Name: <input type="text" name="new_board_name">
	<button type="submit" formaction="{% url 'dashboard:create_board' team.name %}"> Create </button>
        </form>
    <hr>
</body>
</html>
